
.alphabetArea {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5px;
}

.alphabetLetter {
    font-size: 20px;
    margin: 5px;
    user-select: none;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.alphabetLetter:hover {
    background-color: #ccc;
}

.alphabetLetter:active, .alphabetLetter:focus {
    background-color: #ccc;
}

.alphabetLetter.clicked.correct {
    background-color: lightgreen;
    cursor: default;
    pointer-events: none;
}

.alphabetLetter.clicked.incorrect {
    background-color: lightcoral;
    cursor: default;
    pointer-events: none;
}

.alphabetLetterMark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}


@media (max-width: 768px) {
    .alphabetLetter {
        margin : 1px;
        padding : 3px;
        background-color: transparent;
        font-size: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
}