.app {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin: auto;
    overflow: hidden;
}

.adsense {
    /*border: 1px solid #ddd;*/
    margin: 0;
    user-select: none;
    pointer-events: none;
    text-align: center;
}

.adsenseLeft {
    order: 1
}

.adsenseRight {
    order: 3
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: auto;
}

.mainContent {
    align-self: flex-start;
    flex: 1;
    width: 100%;
    order: 2;
}

div.gameTitle {
    user-select: none;
    pointer-events: none;
    text-align: center;
    width: 100%;
}

div.gameTitle h1 {
    color: white;
    font-size: clamp(1.5rem, 5vw, 3rem);
    margin: 0;
    font-weight: 10;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #606060;
    text-shadow: 4px 1px 5px rgb(106, 106, 106);
    -webkit-font-smoothing: antialiased;
}

div.gameArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
}

div.gameFooter {
    text-align: center;
    margin: 0;
    user-select: none;
    pointer-events: none;
    font-size: 14px;
    width: 100%;
}

div.gameFooter span.imageCreatedBy {
    font-size: clamp(8px, 3vw, 14px);
    margin-top: 10vh;
    margin-bottom: 10vh;
}

div.bottomArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

div.guessArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}


@media (min-width: 769px) {
    .app {
        align-items: center;
    }

    .container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .adsenseLeft, .adsenseRight {
        display: block;
        width: 100%;
        height: auto;
        min-width : 120px;
        max-width : 240px;
        max-height: 5vh;
        margin: 20px;
    }

    .mainContent {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        align-self: center;
    }

    .gameArea {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .bottomArea {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .adsenseLeft, .adsenseRight {
        display: block;
        width: 100%;
        max-width: 100%;
        height: 90px;
        max-height: 90px;
        overflow: hidden;
    }

    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .mainContent {
        width: 100%;
        height: 80%;
        align-items: center;
        justify-content: center;
    }

    .gameArea {
        width: 100%;
        justify-content: flex-start;
    }

    .bottomArea {
        flex-direction: column;
        width: 90vw;
    }
}

@media (max-width: 425px) {
    .adsense {
        margin: 0 0 10px 0;
        padding: 0;
    }
    .adsenseRight {
        display: none;
    }
    div.gameTitle h1 {
        color: white;
        font-size: clamp(14pt, 10vw, 30pt);
    }
}

@media (max-width: 400px) {
    div.gameTitle h1 {
        color: white;
        font-size: clamp(14pt, 7vw, 30pt);
    }
}