div.guessInputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    user-select: none;
    pointer-events: none;
    flex-shrink: 0;
    gap: 5px;
    min-height:3vh;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.prefix, .postfix {
    font-size: clamp(10px, 4vw, 18px);
    margin:0 5px;
    user-select: none;
    pointer-events: none;
    flex-shrink: 0;
    letter-spacing: -1px;
}


.guessInput {
    flex: 1;
    border-bottom: 2px solid #333;
    text-align: center;
    max-width: 15px;
    min-width: 7px;
    outline: none;
    background-color: transparent;
    cursor: default;
    display: inline-block;
    user-select: none;
    pointer-events: none;
    font-size: clamp(14px, 5vw, 15px);
}

.blank {
    width: 10px;
}

.guessCorrect {
    flex: 1;
    position: relative;
    max-width: 15px;
    min-width: 7px;
    user-select: none;
    pointer-events: none;
    border-bottom: 2px solid lightgreen;
    display: inline-block;
    font-size: clamp(14px, 5vw, 20px);
    font-weight: bold;
}

.particle {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: green;
    border-radius: 50%;
    animation: explode 2s ease-out forwards;
    opacity: 0;
}

/* 파티클 애니메이션 정의 */
@keyframes explode {
    0% {
        transform: translate(-10px, 10px);
        opacity: 1;
    }
    100% {
        transform: translate(var(--x), var(--y));
        opacity: 0;
    }
}
.particle:nth-child(2) {
    --x: 50px;
    --y: -30px;
    animation-delay: 0s;
    background-color: lightseagreen;
}
.particle:nth-child(3) {
    --x: -40px;
    --y: -20px;
    animation-delay: 0.1s;
    background-color: lightcoral;
}
.particle:nth-child(4) {
    --x: 30px;
    --y: 40px;
    animation-delay: 0.2s;
    background-color: lightslategrey;
}
.particle:nth-child(5) {
    --x: -30px;
    --y: 30px;
    animation-delay: 0.3s;
    background-color: lightsalmon;
}
.particle:nth-child(6) {
    --x: 20px;
    --y: -50px;
    animation-delay: 0.4s;
    background-color: lightskyblue;
}


@media (max-width: 425px) {
    div.guessInputs {
        gap: 3px;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
    .guessInput, .guessCorrect {
        font-size: clamp(14px, 4vw, 19px);
    }
}