.hangmanArea {
    width: 3vw;
    min-width: 64px;
    height: auto;
    min-height: 100px;
    position: relative;
    display: flex;
    box-sizing: border-box;
    background-color: #e6e4e2;
    border-radius: 8px;
    user-select: none;
    overflow: hidden;
    margin-left: 2%;
    margin-right: 2%;
    padding: 0;
}

.hangmanArea img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.killed{
    background-color: lightcoral;
}