.hangmanArea {
    width: 62px;
    height: 100px;
    position:relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: #e6e3df;
    border-radius: 8px;
    user-select: none;
    overflow: hidden;
    margin-right: 2%;
    padding: 0;
}

.hangmanArea img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.killed{
    background-color: lightcoral;
}