.infoArea {
    flex: 1;
    border: 1px solid #ddd;
    margin: 0 5px 5px 5px;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    user-select: none;
    pointer-events: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infoArea p {
    display: inline;
    margin: 0 10px;
}

.expBar {
    flex: 1;
    height: 20px;
    background-color: #eee;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
}

.expFill {
    display: flex;
    height: 100%;
    background-color: #5dc961;
    border-radius: 10px;
    transition: width 0.3s ease;
    color: white;
    font-size: 10px;
    align-items: center;
    justify-content: center;
}

@keyframes changeColor {
    0% {
        background-color : white;
    }

    100% {
        background-color : greenyellow;
    }
}

@media (min-width: 769px) {
    .infoArea {
        height: auto;
        padding: 5px;
    }
}

@media (max-width: 768px) {
    .infoArea {
        height: auto;
        padding: 5px;
    }

    .infoArea p {
        display: inline;
        margin: 0 10px;
        font-size: 12px;
    }
}