/* App.module.css */
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.adsense {
    /*border: 1px solid #ddd;*/
    padding: 20px;
    margin: 0;
    user-select: none;
    pointer-events: none;
    text-align: center;
}

.adsenseLeft, .adsenseRight {
    flex: 0 0 25%;
    max-width: 25%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
}

.gameTitle {
    margin: 0;
    user-select: none;
    pointer-events: none;
    text-align: center;
    width: 100%;
}

.gameTitle h1 {
    color: white;
    font-size: clamp(1.5rem, 3vw, 3rem);
    margin: 0;
    font-weight: 10;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #606060;
    text-shadow: 4px 1px 5px rgb(106, 106, 106);
    font-family: "Luckiest Guy", cursive;
    -webkit-font-smoothing: antialiased;
}

.gameArea {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
}

.gameFooter {
    text-align: center;
    margin: 0;
    user-select: none;
    pointer-events: none;
    font-size: 14px;
    width: 100%;
}

.bottomArea {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.guessArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}


@media (min-width: 769px) {
    .container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .adsenseLeft, .adsenseRight {
        display: block;
        width: 100%;
        height: auto;
    }

    .mainContent {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .gameArea {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .bottomArea {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .adsenseLeft {
        display: block;
        width: 100%;
        max-width: 100%;
        height: 20%;
        order: -1;
    }

    .adsenseRight {
        display: none;
    }

    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
    }

    .mainContent {
        width: 100%;
        height: 80%;
        align-items: center;
        justify-content: center;
    }

    .gameArea {
        flex-direction: column;
        width: 100%;
    }

    .bottomArea {
        flex-direction: column;
    }
}