/* App.css */
body {
    font-family: Consolas;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #f0f0f0;
    color: #333;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.adsense {
    /*border: 1px solid #ddd;*/
    padding: 20px;
    margin: 0;
    user-select: none;
    pointer-events: none;
    text-align: center;
}

.adsense-left, .adsense-right {
    flex: 0 0 25%;
    max-width: 25%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
}

.game-title {
    margin: 0;
    user-select: none;
    pointer-events: none;
    text-align: center;
    width: 100%;
}

.game-title h1 {
    color: white;
    font-size: clamp(1.5rem, 3vw, 3rem);
    margin: 0;
    font-weight: 10;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #606060;
    text-shadow: 4px 1px 5px rgb(106, 106, 106);
    font-family: "Luckiest Guy", cursive;
    -webkit-font-smoothing: antialiased;
}

.game-area {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
}

.game-footer {
    text-align: center;
    margin: 0;
    user-select: none;
    pointer-events: none;
    font-size: 14px;
    width: 100%;
}

.bottom-area {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.guess-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}


@media (min-width: 769px) {
    .container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .adsense-left, .adsense-right {
        display: block;
        width: 100%;
        height: auto;
    }

    .main-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .game-area {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .bottom-area {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .adsense-left {
        display: block;
        width: 100%;
        max-width: 100%;
        height: 20%;
        order: -1;
    }

    .adsense-right {
        display: none;
    }

    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
    }

    .main-content {
        width: 100%;
        height: 80%;
        align-items: center;
        justify-content: center;
    }

    .game-area {
        flex-direction: column;
        width: 100%;
    }

    .bottom-area {
        flex-direction: column;
    }
}